<div class="main-container bookings-container">
  <h2 class="bookings-index-header">My bookings - Requests on my watches</h2>
  <div class="cards-index cards-bookings">
    <% @incoming_bookings.each do |booking| %>
      <%= render "bookings/card", booking: booking %>
    <% end %>
  </div>
  <h2 class="bookings-index-header">My rentals - Watches I rent</h2>
  <div class="cards-index cards-bookings">
    <% @pending_bookings.each do |booking| %>
      <%= render "bookings/card", booking: booking %>
    <% end %>
    <% @accepted_bookings.each do |booking| %>
      <%= render "bookings/card", booking: booking %>
    <% end %>
  </div>
</div>
