<div class="footer">
  <div class="footer-links">
    <p>Contacts - </p>
    <p>Terms of Use - </p>
    <p>Legal </p>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-stopwatch"></i> WATCHTOWER INC. <i class="fas fa-stopwatch"></i>
  </div>
</div>
