.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
    color: white;

}

.navbar-brand h1 {
color: #E8F5FA;
color: lighten($white, 100%);
text-shadow: 2px 2px 4px black;

}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-home {
  position: absolute;
  left: 0;
  right: 0;
  color: white;
}

.nav-time {
  color: white;
}

.navlink {
  color: $white;
  color: lighten($white, 100%);
  padding-left: 20px;
  text-shadow: 2px 2px 4px black;
  font-size:18px;
}

.navbar :hover {
  color: #E8F5FA;
  text-decoration:none;
  opacity: 0.9;
}
