.split-new {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 80px;

}
.split-new .form-wrapper {
  border-radius: 10px;
  border: 5px solid $blue;
  width: 600px;
  padding: 2em;
  background-color: rgba(0,0,0,0.4);
}

.split-new h3 {
  color: #E8F5FA;
}

.new-watch body {
  height: 100%;
}

.watch-form {
  color: white;
}
